* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}
.main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}
.main-content {
  width: 300px;
  height: 350px;
  background-color: #eeeeee;
  margin-right: 30px;
  padding: 10px 10px;
  position: relative;
}
.main-content:nth-child(3) {
  margin-right: 0;
}
.main-step1 {
  width: auto;
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}
.main-step2 {
  width: auto;
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}
.main-step3 {
  width: auto;
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}
.number {
  width: 50px;
  color: #fff;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;
}
.title {
  margin: 15px 0 5px;
}
.text {
  height: 50px;
}
.footing {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
@media screen and (max-width: 768px){
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-content {
    width: 90%;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .main-content:nth-child(3) {
    margin-bottom: 0;
  }
}